html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 200px;
    height: 300px;
}

.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    padding: 24px 12px;
}

button {
    background-color: #4c91af;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}